.notFound {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d212a;
    z-index: 999;
}
.title {
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 50px;
}
.search {
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.search input {
    all: unset;
    padding: 10px;
    width: 350px;
    border: 2px solid #fff;
    border-radius: 8px;
}
.info {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.info span {
    width: 350px;
}
.info span a {
    color: #fff;
}
.content {
    /* don´t need ig */
    /* padding-top: 3em; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    text-decoration: none;
    color: #fff;
}
.initialCard,
.card {
    position: relative;
    border-radius: 20px;
    border: 2px solid #fff;
    /* background: #2a2e3b;
    box-shadow: 20px 20px 60px #16181f, -20px -20px 60px #3e4457; */
    width: 300px;
    height: 150px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.initialTitle,
.cardTitle {
    max-height: 75px;
    font-size: 30px;
    font-weight: 700;
}
.cardTitle span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.initialText,
.cardText,
.cardAbout {
    padding-top: 5px;
    color: #bbb;
}
.link {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    width: 250px;
}
.link a {
    color: #fff;
    padding: 5px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .card {
        width: 150px;
        height: 105px;
        padding: 7px;
    }
    .cardTitle {
        font-size: 15px;
    }
    .cardText {
        font-size: 12px;
        padding-top: 2px;
    }
    .cardAbout {
        padding-top: 2px;
        font-size: 10px;
    }
}