.notFound {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d212a;
    z-index: 999;
}
.content {
    position: relative;
    height: 100vh;
    margin-left: 10px;
}
.title {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
}
.titleDate {
    font-size: 13px;
    color: #bbbbbb;
}
.main {
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.about {
    width: 500px;
}
.divider {
    width: 500px;
    height: 3px;
    margin: 10px 0;
    background-color: #bbbbbb;
}
.sidebar {
    display: flex;
    flex-direction: column;
}
.toLink {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toLink a {
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

@media (max-width: 1000px) {
    .main {
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
    }
    .main div {
        margin: 25px 0;
    }
}