@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&display=swap');
* {
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  background-color: #1d212a;
  color: #fff;
  font-family: 'Lexend Deca', sans-serif;
}

/* pls don't forget to do this omg */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */