.landing {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
}
.title {
    /* position: absolute;
    top: 2rem;
    left: 2rem; */
    padding-left: 2rem;
    width: 30vw;
    display: flex;
    flex-direction: column;
}
.heading {
    font-size: 45px;
    font-weight: 700;
}
.buttonContainer {
    padding-top: 2rem;
    display: flex;
}
.buttonContainer a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.buttonContainer a:nth-child(1) {
    margin-right: 10px;
}
.buttonContainer a:nth-child(2) {
    font-size: 23px;
}
.hello {
    font-size: 32px;
    position: absolute;
    right: 15vw;
    text-align: justify;
    width: 384px;
    font-weight: 700;
}
.languageContainer {
    max-height: 100vh;
    height: 100vh;
}
.languageSearch {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.languageSearch input {
    all: unset;
    padding: 10px;
    width: 350px;
    border: 2px solid #fff;
    border-radius: 8px;
}
.languageCards {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.languageCards a {
    color: #fff;
    text-decoration: none;
}
.languageCardContainer {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.languageCardContainer div {
    display: flex;
    flex-direction: column;
}
.languageCardContainer div span:nth-child(1) {
    font-weight: 700;
}
.languageCardContainer div span:nth-child(2) {
    color: #bbb;
}